body {
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    background: rgb(97, 97, 231);
    width: 80%;
    padding: 10px 10px;
    gap: 4px;
    flex-wrap: wrap;
}

form input {
    background: rgb(8, 39, 107);
    color: white;
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px 10px;
    /* width: 200px; */
    flex-basis: 200p;


}

form button {
    background: blue;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    width: 200px;
    flex-grow: 1;
}